@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-color: 0, 0, 0, 1;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color));
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}
